
{% extends 'base.html' %}

{% block body %}
<section class="user-area-all-style log-in-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form-title">پسورد جدید را وارد کنید</h3>
                    </div>
                    {% if validlink %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="تعییر">
                    </form>
                    {% else %}
                        <p>این لینک معتبر نمیباشد.لطفا دوباره سیع کنید.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% block footer %}
<script>
    $('.navbar-area').addClass("is-sticky");
    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 150) {
            $('.navbar-area').addClass("is-sticky");

        }
        else {
            $('.navbar-area').addClass("is-sticky");

        }
    });
</script>
{% endblock%}
{% endblock %}