{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">{% endblock %}
{% block body %}

<section class="user-area-all-style log-in-area ptb-100">
  <div class="container">
    <div class="center">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.email.errors}}
        <div class="txt_field">
          {{form.email}}
          <span></span>
          <label>ایمیل</label>
        </div>
        {{form.phone_number.errors}}
        <div class="txt_field">
          {{form.phone_number}}
          <span></span>
          <label>تلفن</label>
        </div>
        {{form.full_name.errors}}
        <div class="txt_field">
          {{form.full_name}}
          <span></span>
          <label>نام و نام خانوادگی</label>
        </div>
        {{form.img.errors}}
        <div class="txt_field">
          {{form.img}}
          <span></span>
          <label>عکس</label>
        </div>
        <input type="submit" value="تغییر">
      </form>
    </div>
  </div>
</section>
{% block footer %}
<script>
    $('.navbar-area').addClass("is-sticky");
    $(window).on('scroll', function () {
        if ($(this).scrollTop() > 150) {
            $('.navbar-area').addClass("is-sticky");

        }
        else {
            $('.navbar-area').addClass("is-sticky");

        }
    });
</script>
{% endblock%}
{% endblock %}